footer{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 65px 65px 65px;
    gap: 1px;
    max-width: 300px;
    text-align: center;
}
img {
    max-width: 300px;
}
h1 {
    color: steelblue;
    font-size: 90%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    max-width: 300px;
}
h2 {
    color: black;
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    max-width: 300px;
}
p {
    color: gray;
    font-family: 'Times New Roman', Times, serif;
    max-width: 300px;
    text-align: center;
    padding: 10px 0;
}
.read {
    color: rgb(250, 241, 241);
    font-family: 'Times New Roman', Times, serif;
    font-size: 60%;
    padding: 20px 0;
    background-color: rgb(42, 42, 112);
}
.views {
    color: rgb(250, 241, 241);
    font-family: 'Times New Roman', Times, serif;
    font-size: 60%;
    padding: 20px 0;
    background-color: rgb(42, 42, 112);
}
.comments {
    color: rgb(250, 241, 241);
    font-family: 'Times New Roman', Times, serif;
    font-size: 60%;
    padding: 20px 0;
    background-color: rgb(42, 42, 112);
}
